.info-brands .info-brand {
    margin-bottom: 10px;
  }
.info-brands-inner {
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.08);
  margin-top: 10px;
  border-radius: 8px;
}
.info-brands .info-brand .info-brand-heading.orange {
  color: #ffb847;
}
.info-brands .info-brand .info-brand-heading.red {
  color: #ff7878;
}
.info-brands .info-brand {
    margin-right: 10px;
  
}
.info-brand-img {
    width: 100%;
    padding-top: 15px;
}
/*----------------------chat------------------------------*/

/*----------------------yt------------------------------*/
.share-fast-mall {
  position: fixed;
  left: 10px;
  top: 40%;
  z-index: 2;
}
.youtube-button {
  display: block;
  margin: 10px;
}
.youtube-button a {
  display: inline-block;
  padding: 5px 8px;
  border: 2px solid #ff0000;
  color: #ff2d2b;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}
.youtube-button a:hover {
  background-color: #ff2d2b;
  color: #fff;
}

.fb-button {
  display: block;
  margin: 10px;
}
.fb-button a {
  display: inline-block;
  padding: 5px 13px;
  border: 2px solid #0033FF;
  color: #0033FF;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}

.fb-button a:hover {
  background-color: #0033FF;
  color: #fff;
}

.tt-button {
  display: block;
  margin: 10px;
}
.tt-button a {
  display: inline-block;
  padding: 5px 10px;
  border: 2px solid #003333;
  color: #003333;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}

.tt-button a:hover {
  background-color: #003333;
  color: #fff;
}

/*---------------------promotion----------------------*/
.promotion {
  margin-top: 20px;
  border: #ddd 1px solid;
  padding: 20px 10px 10px 10px;
  position: relative;
}
.promotion i{
  margin-right: 5px;
}
.promotion .label {
  position: absolute;
  top: -12px;
  left: 13px;
  background-color: #ff2d2b;
  color: white;
  padding: 5px 10px;
  align-items: center;
  display: flex;
  border-radius: 5px;
  font-size: 10pt;
}
/*-------------------------product tab ------------------------*/
.product-tab .owl-carousel .item {
  background-repeat: no-repeat;
  background-size: 500px;
}
/*--------------------------products together ------------------------------*/
.products-together-item {
  display: flex;
  border: 1px #e3e3e3 solid;
  padding: 3px;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
}
.products-together-item .name{
  font-size: 13px;
  font-weight: bold;
}
.products-together-item .price{
  font-size: 13px;
  font-weight: bold;
  color: #ff0000;
  padding: 0;
  margin: 0;
}
.products-together-item a{
  font-size: 10px;
}
.products-together-item img {
  width: 25%;
  margin: 0;
  padding: 0 3px 0 0;
  height: 100%;
}
/*--------------------------products news ------------------------------*/
.products-news-item {
  display: flex;
  padding: 3px;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
}
.products-news-item .name{
  font-size: 13px;
  color: rgb(82, 81, 81);
}
.products-news-item img {
  width: 25%;
  margin: 0;
  padding: 0 3px 0 0;
  height: 100%;
}
/*-------------------------------SP SAME PRICE ------------------*/
